<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.settlers.hd"
    android:installLocation="auto"
    android:versionCode="16"
    android:versionName="2.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Settlers"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="true" >
        <activity
            android:name=".Main"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:launchMode="standard"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalGame"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".Reference"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".Status"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".Discard"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".Stats"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name=".Rules"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name=".PlayerTrade"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".AcceptTrade"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".CounterOffer"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
    </application>

</manifest>